/* Set all elements to 0 margin, helps align filter to
fill up any blank margin spaces on the page */
* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../img/background-top-2.png");
    font-family: 'Sen', sans-serif;
    text-shadow: 1px 1px black;
}

#header {
    background-color: rgba(184, 211, 84, 0.945);
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

/* Image slides up and fades in from being invisible
to opaque in in 1 second. */
#henry-face {
    animation: slideUpAndFade ease-in 1s;
    position: relative;
    width: 50vw;
    max-width: 340px;
    margin: 15px;
}

/* Fade in doesnt begin till 1s second after loading, as
it waits until profile picture is loaded. Starts off
invisibile first and fill-mode foward keeps it opaque */
#name-text {
    opacity: 0;
    animation: fadeIn ease-in 1s;
    animation-delay: 1.0s;
    animation-fill-mode: forwards;
    font-size: 9.5vw;
    margin: 5px;
    padding-bottom: 10px;
    color:rgb(102, 80, 184);
}

.line {
    width: 100%;
    height: 10px;
    background-color: white;
}

/* Filter takes up entire space of html page, but having
its z index -1 puts it behind all elements. This makes
it appear as it is part of the background, and with 
a slight transparency in the rgba() argument, will
blend the color for a filtered effect */
#filter {
    background-color: rgba(102, 80, 184, 0.945);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Fade in doesnt begin till 1.2s second after loading, loads
after name is fading in but starts before it finishes.
Starts off invisibile first and fill-mode foward keeps 
it opaque */
#content {
    opacity: 0;
    animation: fadeIn ease-in 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    width: 100%;
    height: auto;
    color: white;
    font-size: 5.3vw;
    display: flex;
    justify-content: center;
}

#favs {
    margin: 15px;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
}

.banana-list {
    width: 3.7vw;
    max-width: 26px;
    margin: 0 2vw 0 1vw;
}

span {
    color: rgb(121, 214, 15);
}

#footer {
    opacity: 0%;
    animation: fadeIn ease-in 1s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    margin-top: 30px;
    width: 100%;
    height: auto;
    text-align: center;
}

/* Fade in doesnt begin till 1.4s second after loading,
loads after content is fading in but starts before it finishes.
Starts off invisibile first and fill-mode foward keeps 
it opaque */

#return-button {
    max-width: 100%;
    background-color: rgb(184, 211, 84);
    font-family: 'Sen', sans-serif;
    font-size: 3.5vw;
    color: rgb(72, 33, 126);
    border-radius: 30px;
    padding: 1.25vw 3.5vw 1.25vw 3.5vw;
    transition-duration: .5s;
    border: 1px solid rgb(72, 33, 126);
    margin: 15px 0px 0px 0px;
}

#return-button:hover {
    background-color: rgb(72, 33, 126);
    color: rgb(184, 211, 84);
}

/* Dynmaic resizing of the font sizes based on browser
window size, used to be adapative for smartphone screens
while not becoming too large for desktops */
@media screen and (min-width: 650px) {
    #name-text {
        font-size: 65px;
    }
    #content {
        font-size: 36px;
    }
    .banana-list {
        margin: 0 13.6px 0 6.8px;
    }
    #return-button {
        font-size: 24px;
        padding: 8.5px 23.8px 8.5px 23.8px;
    }
}

/* Slide up and fade effect for Profile image
Smooth linear fade transition from invisiable to
opaque, slides up quick but slows down towards
the end */
@keyframes slideUpAndFade {
    0% {
        opacity: 0%;
        bottom: -40px;
    }
    350% {
        bottom: -5px;
    }
    100% {
        opacity: 100%;
        bottom: 0;
    }
}

/* Simple linear fade in effect */
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }  
}
