
* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../img/background-top-2.png");
}

#header {
    background-color: rgba(184, 211, 84, 0.945);
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#henry-face {
    height: 100%;
    max-height: 300px;
}

.line {
    width: 100%;
    height: 20px;
    background-color: white;
}

#content {
    background-color: rgba(71, 44, 171, 0.945);
    width: 100%;
    height: 100%;
}
