body {
    background-image: url("../img/background-top-2.png");
}

#filter {
    background-color: rgba(184, 211, 84, 0.945);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
}
