body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: rgb(72, 33, 126);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#header {
    text-align: center;
}

#logo {
    width: 450px;
}

#assignment {
    max-width: 600px;
    display: flex;
    flex-flow: column wrap;
}

#list-requirements {
    align-self: center;
    margin: 0;
    padding: 0;
}

.requirement-item p {
    margin: 0;
}


.member-box {
    width: 100%;
    max-width: 300px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px 20px 20px 20px;
    transition-duration: .5s;
    margin: 20px 10px 20px 10px;
}

.member-box:hover {
    border: 2px solid rgb(72, 33, 126);
}

.member-info {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.name {
    margin: 0;
}

.member-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.github-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.github-image {
    width: 15px;
    height: 15px;
}

.github-link {
    font-size: 14px;
    color: rgb(72, 33, 126);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.github-link:hover {
    text-decoration: underline;
}

.github-link:visited {
    color: rgb(72, 33, 126);
}

.member-button {
    max-width: 100%;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: rgb(72, 33, 126);
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    transition-duration: .5s;
    border: 1px solid rgb(211, 211, 211);
    margin: 15px 0px 0px 0px;
}

.member-button:hover {
    background-color: rgb(72, 33, 126);
    border: 1px solid rgb(72, 33, 126);
    color: white;
}
