body    {
    background-color: rgb(212, 196, 189);
    color: black;
    margin: 0;
    padding: 0;
    
}
header  {
    background-size: 100%;
    background-position: center;
    text-align: center;
}

h1  {
    text-align: center;
    color: rgb(44, 4, 38);
    font-size: 33px;
}
